<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://saturday365integrationsfunctions20200606004013.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7254d864-e986-42b4-9eb2-c457a0510a24/resourcegroups/365Saturday-Dev/providers/Microsoft.Web/sites/Saturday365IntegrationsFunctions20200606004013</ResourceId>
    <UserName>$Saturday365IntegrationsFunctions20200606004013</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://saturday365integrationsfunctions20200606004013.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>